
PickelApper/Library/ArtifactDB
PickelApper/Library/CurrentLayout-default.dwlt
PickelApper/Library/expandedItems
PickelApper/Library/InspectorExpandedItems.asset
PickelApper/Library/SceneVisibilityState.asset
PickelApper/Library/ShaderCache/EditorEncounteredVariants
PickelApper/Library/SourceAssetDB
